<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自治体掲示板</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css">
    <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="header-brand">
            <h1>天神町 自治体掲示板</h1>
            <img src="{{ '/images/ten.png' | relative_url }}" alt="天神町ロゴ" class="header-logo">
        </div>
    </header>
    <hr class="section-sep">

    <main>
        {{ content }}
    </main>

    <footer>
        <hr>
        <p>&copy; {{ 'now' | date: "%Y" }} 天神町自治会</p>
    </footer>
</body>
</html>